
Phone_Book/Phone_Book.vcxproj.filters
Phone_Book/Phone_Book.vcxproj
Phone_Book/Debug/vc141.pdb
Phone_Book/Debug/vc141.idb
Phone_Book/Debug/Phone_Book_v1.0.obj
Phone_Book/Debug/Phone_Book.tlog/unsuccessfulbuild
Phone_Book/Debug/Phone_Book.tlog/link.write.1.tlog
Phone_Book/Debug/Phone_Book.tlog/link.read.1.tlog
Phone_Book/Debug/Phone_Book.tlog/link.command.1.tlog
Phone_Book/Debug/Phone_Book.tlog/CL.write.1.tlog
Phone_Book/Debug/Phone_Book.tlog/CL.read.1.tlog
Phone_Book/Debug/Phone_Book.tlog/CL.command.1.tlog
Phone_Book/Debug/Phone_Book.log
Debug/Phone_Book.pdb
Debug/Phone_Book.ilk
Debug/Phone_Book.exe
.vs/Phone_Book/v15/ipch/AutoPCH/cd5d06653d368a3e/PHONE_BOOK_V1.2.ipch
.vs/Phone_Book/v15/ipch/AutoPCH/b7287e732f8e2c95/PHONE_BOOK_V1.1.ipch
.vs/Phone_Book/v15/ipch/AutoPCH/946b583648ff1c2c/PHONE_BOOK_V1.0.ipch
.vs/Phone_Book/v15/Browse.VC.db
.vs/Phone_Book/v15/.suo
Phone_Book/Phone_Book.vcxproj.filters
Phone_Book/Phone_Book.vcxproj
Phone_Book/Debug/vc141.pdb
Phone_Book/Debug/vc141.idb
Phone_Book/Debug/Phone_Book.tlog/unsuccessfulbuild
Phone_Book/Debug/Phone_Book.tlog/CL.command.1.tlog
Phone_Book/Debug/Phone_Book.log
.vs/Phone_Book/v15/Browse.VC.db
.vs/Phone_Book/v15/.suo
.vs/Phone_Book/v15/.suo
.vs/Phone_Book/v15/Browse.VC.db
Phone_Book/Debug/Phone_Book.log
Phone_Book/Debug/Phone_Book.tlog/CL.command.1.tlog
Phone_Book/Debug/Phone_Book.tlog/unsuccessfulbuild
Phone_Book/Debug/vc141.idb
Phone_Book/Debug/vc141.pdb
Phone_Book/Phone_Book.vcxproj
Phone_Book/Phone_Book.vcxproj.filters
Phone_Book/Phone_Book.vcxproj.filters
Phone_Book/Phone_Book.vcxproj
Phone_Book/Debug/vc141.pdb
Phone_Book/Debug/vc141.idb
Phone_Book/Debug/Phone_Book.tlog/unsuccessfulbuild
Phone_Book/Debug/Phone_Book.tlog/CL.command.1.tlog
Phone_Book/Debug/Phone_Book.log
.vs/Phone_Book/v15/Browse.VC.db
.vs/Phone_Book/v15/.suo
.vs/Phone_Book/v15/.suo
Phone_Book/Phone_Book.vcxproj.filters
Phone_Book/Phone_Book.vcxproj.filters
Phone_Book/Phone_Book.vcxproj
Phone_Book/Debug/vc141.pdb
Phone_Book/Debug/vc141.idb
Phone_Book/Debug/Phone_Book.tlog/unsuccessfulbuild
Phone_Book/Debug/Phone_Book.tlog/CL.command.1.tlog
Phone_Book/Debug/Phone_Book.log
.vs/Phone_Book/v15/Browse.VC.db
.vs/Phone_Book/v15/.suo
Phone_Book/Phone_Book.vcxproj.filters
